/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope";
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* STYLE */
.main {
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: hsl(217, 19%, 38%);
  width: 25rem;
  height: 15rem;
  margin: auto auto;
}

.container p {
  width: 90%;
  font-weight: 700;
  padding: 0 1rem;
}

.container h1 {
  color: hsl(150, 100%, 66%);
  letter-spacing: 0.2rem;
  font-family: "Manrope";
  font-size: 0.7rem;
}

.line-design {
  background-image: url("images/pattern-divider-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 2rem;
  width: 20rem;
}

/* BUTTON STYLE: */

.btn {
  background-color: hsl(150, 100%, 66%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  position: absolute;
  bottom: 63%;
}
.btn:hover {
  cursor: pointer;
}
